<label for="">Username</label>
<input type="text" [(ngModel)]="username">
<p>{{username}}</p>
<!-- === to ckeck something , = to assgin a value -->
<!-- [disabled]="username === ''" inside the"" assign the boolean -->
<button class="btn btn-primary" [disabled]="username === ''" (click)="username=''">Reset user</button>
<br>
<label for="">Server Name</label>
<!-- two-way-binding -->
<input type="text" [(ngModel)]="name">
<br>
<!-- <p>{{name}}</p> -->

<!-- input event , one-way-data-binding-->
<!-- <input type="text" class="from-control" (input)="onUpdateServerName($event)">
<br> -->

<!-- property binding, it is not the attribute -->
<!-- onclick eventlistener = (click)="" -->
<!-- For events, you don't bind to onclick but only to click (=> (click)). -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>

<!-- property binding -->
<!-- <p>{{allowNewServer}}</p> -->

<app-server *ngFor="let server of servers"></app-server>
<!-- <app-server></app-server> -->

<!-- property binding, it is not the attribute -->
<!-- <p [innerText]="allowNewServer"></p> -->

<!-- <p>{{serverCreationStatus}}</p> -->

<!-- ngIf and else , a structural directive-->
<p *ngIf="serverCreated; else noServer">Server is created ! Name is {{name}}</p>
<ng-template #noServer>
   <p> No server was created.</p>
</ng-template>
<app-alternative></app-alternative>
